@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.montserrat-font {
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
  }

body{
    font-family: sans-serif;
    margin: 0;
    padding: 0;
    background: #fff;
    max-width: 1440px;
    margin: 0 auto;
    width: 100%;
}

/* Navbar */
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 6.5rem;
    background: white;
    position: sticky;
    top: 0;
    z-index: 1000;
    flex-wrap: wrap;
  }
  
  .logo {
    margin: 0;
    font-size: 1.5rem;
    font-weight: bold;
  }
  
  nav {
    display: flex;
    align-items: center;
    gap: 15px;
    flex-wrap: wrap;
  }
  
  nav a {
    text-decoration: none;
    color: black;
    font-size: 0.95rem;
  }
  
  .contact-btn {
    background-color: #FF6600;
    color: white;
    border: none;
    padding: 10px 15px;
    border-radius: 5px;
    display: inline-block;
  }
  
  /* Toggle button */
  .menu-toggle {
    display: none;
    font-size: 24px;
    background: none;
    border: none;
    cursor: pointer;
    margin: 0;
  }
  
  /* Hero Section */
  .hero {
    background-image: url('https://i.ibb.co.com/fYJf06fX/task1.png');
    background-size: cover;
    background-position: center;
    max-width: 1440px;
    width: 100%;
    margin: 0 auto;
    height: 720px;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: flex-start;
  }
  
  .overlay {
    display: flex;
    align-items: center;
    padding: 2rem;
  }
  
  .hero-content {
    max-width: 592px;
    height: 364px;
  }
  
  .hero-content h1 {
    font-size: 4rem;
    color: #fff;
    margin-bottom: 1rem;
    font-weight: 600;
  }
  
  .hero-content p {
    font-size: 1rem;
    margin-bottom: 1.5rem;
    color: #fff;
  }
  
  .shop-btn {
    background-color: #FF6600;
    color: white;
    padding: 12px 25px;
    border: none;
    border-radius: 8px;
    font-size: 1rem;
    cursor: pointer;
  }
  
  .badge {
    display: inline-flex;
    align-items: center;
    margin-bottom: 20px;
    
  }
  .badge span{
    background-color: white;
    border-radius: 30px;
    padding: 8px 12px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
    font-size: 0.9rem;
    margin-left: -16px;
  }

  .badge-images{
    display: flex;
  }

  .badge img {
    width: 42px;
    height: 42px;
    margin-right: 8px;
    border-radius: 50%;
    border: 2px solid white;
    margin-left: -10px;
    object-fit: cover;
    background-color: #fff;
  }
  

  /* product section */
  .product {
    display: flex;
    padding: 2rem;
    gap: 2rem;
    background: #f9f9f9;
    flex-wrap: wrap;
    justify-content: center;
  }
  
  .product-image {
    flex: 1;
    min-width: 280px;
    text-align: center;
  }

  #mainImage{
    border-radius: 10px;
  }
  
  .product-image img {
    width: 100%;
    max-width: 300px;
  }
  
  .thumbnails {
    margin-top: 1rem;
    display: flex;
    gap: 10px;
    justify-content: center;
    flex-wrap: wrap;
  }
  
  .thumbnails img {
    width: 50px;
    height: 50px;
    cursor: pointer;
    border: 2px solid transparent;
  }
  
  .thumbnails img:hover {
    border: 2px solid orange;
  }
  
  .product-details {
    flex: 1;
    min-width: 280px;
  }
  
  .product-details h2 {
    font-size: 1.6rem;
  }
  
  .price {
    color: orange;
    font-size: 1.3rem;
    margin: 10px 0;
  }
  
  .old-price {
    text-decoration: line-through;
    color: gray;
    margin-left: 10px;
    font-size: 1rem;
  }
  
  .desc {
    margin-bottom: 10px;
  }
  
  .product-details ul {
    list-style-type: disc;
    margin-left: 1rem;
    margin-bottom: 20px;
  }
  
  .add-cart {
    background-color: orange;
    color: white;
    border: none;
    padding: 12px 20px;
    border-radius: 5px;
    cursor: pointer;
  }
  
  
/* nasal section */
.nasal-section {
    max-width: 1200px;
    margin: auto;
    padding: 2rem;
    text-align: center;
}

.nasal-section h2 {
    font-size: 2.5rem;
    font-weight: bold;
}
.nasal-section span {
    display: block;
    color: #000;
}

.nasal-subtext {
    margin-top: 1rem;
    font-size: 1rem;
    color: #555;
}

.slider-container {
    position: relative;
    display: flex;
    align-items: center;
    margin-top: 2rem;
    overflow: hidden;
}

.slider { 
    display: flex;
    transition: transform 0.5s ease-in-out;
}

.slide {
    min-width: 100%;
    box-sizing: border-box;
    padding: 1rem;
    text-align: left;
}

.slide img {
    width: 100%;
    width: 795px;
    height: 408px;
    object-fit: cover;
    border-radius: 10px;
    margin-bottom: 1rem;
}

.slide h3 {
    font-size: 1.5rem;
    margin: 0.5rem 0;
}

.nav-btn{
    background: white;
    border: 2px solid #FF6600;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    font-size: 1.2rem;
    cursor: pointer;
    color: black;
}

.nav-btn.next {
    margin-left: 1rem;
    background: #FF6600;
    color: white;
}

.dot{
    width: 12px;
    height: 12px;
    border-radius: 50%;
    display: inline-block;
    color: #FF6600;
    margin: 0 5px;
    opacity: 0.5;
    cursor: pointer;
    transition:  opacity 0.3s ease;
}

.dot.active{
    opacity: 1;
    background-color: #FF6600;
}

.dots {
    margin-top: 1rem
}

.dot span {
    display: inline-block;
    width: 20px;
    height: 6px;
    background: #FF6600;
    border-radius: 5px;
    margin: 0 4px;
    opacity: 0.4;
    cursor: pointer;
    transition: opacity 0.3s;
}

.dot span .active {
    opacity: 1;
}


/* pain solution section */
.image-text {
    padding: 40px;
    background-color: #6B2B00;
}
.content-row {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 60px;
    flex-wrap: wrap;
}
.content-row.reverse {
    flex-direction: row-reverse;
}

.image-text{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 40px;
    gap: 40px;
    background-color: #f8f8f8;
    flex-wrap: wrap;
  }
  
  .text-content {
    flex: 1;
    max-width: 500px;
  }
  
  .text-content h2 {
    font-size: 28px;
    margin-bottom: 15px;
  }
  
  .text-content p {
    font-size: 16px;
    line-height: 1.6;
    margin-bottom: 20px;
  }
  
  .text-content button {
    background-color: #6B2B00;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 8px;
    cursor: pointer;
  }
  
  .image-content {
    flex: 1;
    max-width: 500px;
  }
  
  .image-content img {
    width: 100%;
    height: auto;
    border-radius: 10px;
  }

  /* card section */
  h1 {
    text-align: center;
    color: #f97316;
    margin: 30px 0;
  }
  
  .plans {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 20px;
    padding: 20px;
  }
  
  .plan {
    border: 1px solid #eee;
    padding: 20px;
    width: 250px;
    border-radius: 10px;
    text-align: center;
    background: #fdfdfd;
    transition: 0.3s;
  }
  
  .plan:hover {
    transform: scale(1.03);
    box-shadow: 0 4px 12px rgba(0,0,0,0.1);
  }
  
  .plan h2 {
    margin-bottom: 5px;
  }
  
  .plan .discount {
    color: #f97316;
    font-size: 0.9em;
  }
  
  .plan button {
    background: #f97316;
    color: white;
    border: none;
    padding: 10px 20px;
    margin: 10px 0;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .plan button:hover {
    background: #ea580c;
  }
  
  .plan ul {
    list-style: none;
    padding: 0;
    text-align: left;
    margin-top: 10px;
  }
  
  .highlighted {
    border: 2px solid #f97316;
    background: #fff7ed;
  }
  
  /* FAQ */
  .faq-section {
    padding: 30px 20px;
    background: #f9fafb;
  }
  
  .faq-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
    gap: 15px;
    max-width: 1000px;
    margin: auto;
  }
  
  .faq-item {
    background: #fff;
    border: 1px solid #ddd;
    padding: 15px;
    border-radius: 8px;
    cursor: pointer;
    transition: 0.2s;
  }
  
  .faq-item:hover {
    background: #fef3c7;
  }
  
  .faq-item .answer {
    display: none;
    margin-top: 10px;
    color: #555;
    transition: all 0.3s ease;
  }
  .faq-item.active .answer {
    display: block;
  }

  
/* footer styling */
.footer {
    background-color: #6B2B00;
    color: #fff;
    padding-top: 40px;
    padding-bottom: 20px;
    text-align: center;
  }
  
  .footer-content {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
  }
  
  .footer h1 {
    font-size: 32px;
    margin-bottom: 10px;
  }
  
  .footer p {
    font-size: 16px;
    line-height: 1.6;
    margin: 10px 0;
  }

  
  .order-btn {
    background-color: #FF6600;
    color: #fff;
    padding: 10px 25px;
    border: none;
    border-radius: 20px;
    cursor: pointer;
    font-weight: bold;
    margin-top: 1rem;
    margin-bottom: 1rem;
    transition: all 0.3s ease;
  }
  
  .order-btn:hover {
    background-color: #f8d2b0;
  }
  
  hr {
    border: 1px solid #fff;
    margin: 20px auto;
    width: 80%;
  }
  
  .footer-content p:last-child{
    margin-top: 0;
  }
  
  .foot {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    padding: 0 40px;
    max-width: 1000px;
    margin: 0 auto;
  }
  
  .copyright{
    padding: 0;
  }

  .footplay {
    display: flex;
    gap: 20px;
  }
  
  .footplay p,
  .iconic p {
    margin: 5px 0;
    cursor: pointer;
    font-weight: 400;
  }
  
  .footplay p:hover,
  .iconic p:hover {
    text-decoration: underline;
  }








/* Responsive */
@media (max-width: 768px) {
    body{
      padding: 10px;
    }
  .menu-toggle {
      display: block;
      margin-left: auto;
    }
  
    nav {
      display: none;
      flex-direction: column;
      width: 100%;
      gap: 10px;
      margin-top: 10px;
    }

    .contact-btn{
      display: none;
    }

    .contact-btn.show{
      display: flex;
      padding: 5px;
      margin-left: 40px;
      margin-top: 10px;
      justify-content: center;
    }
    
    nav.show {
      display: flex;
    }
  
    nav a, .contact-btn {
      width: 100%;
      text-align: center;
    }
  
    .navbar {
      flex-direction: column;
      align-items: flex-start;
    }

    header {
        flex-direction: column;
        align-items: flex-start;
      }
    
      .hero {
        flex-direction: column;
        height: 400px;
        background-position: top;
        text-align: center;
        padding: 20px;
      }
    
      .hero-content {
        max-width: 100%;
      }
  
    .hero-content h1 {
      font-size: 2rem;
    } 
  
    .overlay {
      padding: 2rem 1rem;
    }
    .product {
        flex-direction: column;
        padding: 1rem;
      }
    
      .product-image,
      .product-details {
        width: 100%;
        text-align: center;
      }
    
      .product-details ul {
        text-align: left;
        display: inline-block;
      }
  }
